<% include templates/header %>

<h2>This is the home page.</h2>

<p>If you're here to buy computers, you're in the right place. If you're here to do much else, well... Good luck.</p>

<% include templates/footer %>